In [1]:
import numpy as np
import pandas as pd

In [5]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

print(type(ser), '\n')

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
<class 'pandas.core.series.Series'>

In [6]:
arr = ser.values
print(arr)

ind = ser.index
print(ind)

[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)

In [8]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
print(ser)
ind = ser.index
print(ind)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
dict = {'a': 1, 2: 'two', 'third': True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [10]:
ser = pd.Series(dict)
print(ser)

a           1
2         two
third    True
dtype: object

In [5]:
population_dict = {'California': 38332521, 'Texas': 26448193, 
                   "New York": 19651127, 'Florida': 19552860, 
                   'Illinois': 12882135}

population = pd.Series(population_dict)

print(population)
print(population['Texas' : 'Illinois'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

In [6]:
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [13]:
states = pd.DataFrame({'population': population, 'area': area})
print(states)
print(states.index)
print(states.columns)
print(states.area)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [16]:
arr = np.random.rand(3, 2)
print(arr, '\n')

pd.DataFrame(arr, columns=['foo', 'bar'], index=['a', 'b', 'c'])

[[0.35667271 0.22262112]
 [0.40217946 0.5908934 ]
 [0.54622072 0.49669283]]

        foo       bar
a  0.356673  0.222621
b  0.402179  0.590893
c  0.546221  0.496693

In [17]:
ser = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])

print(ser['b'])

0.5

In [20]:
ser.keys()

ser['e'] = 1.25 
ser['a'] = 0.125 

print(ser)

a    0.125
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [23]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [25]:
states['density'] = states['population'] / states['area']
print(states)

states.loc['New York':'Illinois']

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

          population    area     density
New York    19651127  141297  139.076746
Florida     19552860  170312  114.806121
Illinois    12882135  149995   85.883763

In [26]:
print(states.loc[states.density > 100, ['population', 'density']], '\n')

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121